In [1]:
import pandas as pd
data = {'字串':['台北','台中'],
        "整數":[1000,3000],
        "浮點數":[3.258,7.396]}
df = pd.DataFrame(data)
display(df)

   字串    整數    浮點數
0  台北  1000  3.258
1  台中  3000  7.396

In [4]:
#視覺美化
#需先下載 jinja2
#pip install jinja2
df.style.\
format(precision=2,thousands=',',decimal='.')\
.relabel_index(["列1",'列2'])

In [5]:
import numpy as np
import pandas as pd
data = np.random.rand(10,2) * 5
df = pd.DataFrame(data,
             index = pd.date_range(start='20240324',periods=10),
             columns = ['台北','台中']
             )
df

                  台北        台中
2024-03-24  1.944885  3.110963
2024-03-25  2.438377  3.717014
2024-03-26  2.754774  0.866389
2024-03-27  2.932869  2.510473
2024-03-28  0.746060  4.091832
2024-03-29  1.219628  2.135353
2024-03-30  2.167340  1.867142
2024-03-31  4.458503  4.849099
2024-04-01  4.727625  0.674912
2024-04-02  3.565239  3.269636

In [22]:
#pd.date_range() 函數測試
pd.date_range(start='2024-1-1',end='2024-1-10')
pd.date_range(start='2024-01-01', periods=10)
#以一周7天為單位，輸出每周最後一天的日期
pd.date_range(start='2024-01-01', end='2024-12-31', freq='W')
#以月為單位，輸出每月最後一天的日期
pd.date_range(start='2024-01-01', end='2024-12-31', freq='ME')
#以月為單位，輸出每月最後一個工作日的日期
pd.date_range(start='2024-01-01', end='2024-12-31', freq='BME')
#
pd.date_range(start='2024-01-01', end='2024-12-31', tz='UTC')

#pd.date_range() 日期參數有格式要求
#ISO 8601 标准日期格式：'YYYY-MM-DD'
#美国日期格式：'MM/DD/YYYY'
#欧洲日期格式：'DD/MM/YYYY'
#其他常见日期格式

DatetimeIndex(['2024-01-31', '2024-02-29', '2024-03-29', '2024-04-30',
               '2024-05-31', '2024-06-28', '2024-07-31', '2024-08-30',
               '2024-09-30', '2024-10-31', '2024-11-29', '2024-12-31'],
              dtype='datetime64[ns]', freq='BME')

In [8]:
#視覺美化資料表
def feel_condition(v):
    if v < 1.75:
        return "溫暖"
    elif v < 2.75:
        return "潮濕"
    else :
        return "日曬"

df.style\
    .format(feel_condition)\
    .set_caption("體感溫度")\
    .background_gradient(cmap="PuBuGn",vmin=1,vmax=5,axis=None)

In [14]:
#隱藏資料
df = pd.DataFrame(np.random.randn(5,5))
df.style.\
hide(subset=[0,2,4],axis=0)\
.hide(subset=[1,3],axis=1)
#將第1、3行和0、2、4列隱藏起來

In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(10,4),columns=['A','B','C','D'])
display(df)

def style_negative(v, props=''):
    return props if v < 0 else None

df.style.map(style_negative, props='color:red')

          A         B         C         D
0  1.870561 -0.958235 -0.851182 -0.098745
1 -0.989328  1.073837  0.066125  1.656974
2 -0.326732 -0.285734  1.450442 -1.150538
3 -1.644769  1.372447  0.905541  0.945396
4 -0.838101 -1.263555  1.202122 -1.559931
5  0.225824  0.510692 -0.191712 -0.586844
6  0.865166  0.975446  1.841407 -0.933128
7 -0.784554 -0.427530 -0.781642  0.483217
8 -0.730382 -2.485334  2.504095 -0.264245
9 -0.089894  0.658250  0.255516  0.597957